<div class="header bg-light">
    <div class="row align-items-center pl-4 pr-4 py-3">
      <!-- Logo Section -->
      <div class="col-xl-4 col-md-3 col-sm-12 mt-2 text-center text-md-left">
        <img class="posmo" src="../../../../assets/happylogo.jpg" style="width: 150px;">
      </div>
  
      <!-- Navigation Section -->
      <div class="col-xl-4 col-md-4 col-sm-6 col-12 mt-4">
        <div class="row justify-content-center">
          <div class="col-4 nav-item text-center">
            <a href="#" class="nav-link">Home</a>
          </div>
          <div class="col-4 nav-item text-center">
            <a href="#" class="nav-link">Service</a>
          </div>
          <div class="col-4 nav-item text-center">
            <a href="#" class="nav-link">About Us</a>
          </div>
        </div>
      </div>
  
      <!-- Buttons Section -->
      <div class="col-xl-4 col-md-5 col-sm-6 col-12 text-center text-md-right">
        <div class="row justify-content-center justify-content-md-end">
          <div class="col-6 mt-3">
            <button type="button" class="btn btn-dark btn-lg w-100">CONTACT US</button>
          </div>
          <div class="col-6 mt-3">
            <button type="button" class="btn btn-outline-dark btn-lg w-100" (click)="navigate()">LOGIN</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Hero Image -->
  <img class="img-fluid" alt="Flight Image" src="../../../../assets/flightimage.jpg" style="object-fit: cover; max-height: 500px; width: 100%;">
  